<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Signup</title>
    <link rel="stylesheet" href="/style/user.css" />
  </head>
  <body>
    <main>
      <form class="product-form" action="/user/signin" method="POST">
        <div class="form-control">
          <label for="email">Email</label>
          <input type="text" name="email" id="title" />
        </div>

        <div class="form-control">
          <label for="password">password</label>
          <input type="text" name="password" id="imageUrl" />
        </div>

        <button type="submit" class="login-btn">Login</button>
      </form>
    </main>
  </body>
</html>
<body></body>
